@import '../assets/css/variables.less';

@header-height: 64px;
@sidebar-width: 280px;
@mobile-breakpoint: 1200px;
@text-color: #333;

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f0f2f5;

    @media (prefers-color-scheme: dark) {
        background: @background-dark;
    }

    .header {
        height: @header-height;
        position: sticky;
        top: 0;
    }

    .content {
        display: flex;
        flex: 1;
        gap: 24px;
        padding: 24px;
        margin: 0 auto;
        width: 100%;
        box-sizing: border-box;
        transition: padding 0.3s ease-in-out;

        @media (max-width: @mobile-breakpoint) {
            flex-direction: column;
            padding: 0px;
            position: relative;
            overflow-x: hidden;
        }
    }

    .sidebar {
        width: @sidebar-width;
        background: #fff;
        border-radius: 16px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        height: calc(100vh - @header-height - 48px);
        transition: all 0.3s ease-in-out;
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        @media (prefers-color-scheme: dark) {
            background: @surface-dark;
        }

        @media (max-width: @mobile-breakpoint) {
            position: fixed;
            transform: translateX(calc(-100% - 24px));
            height: calc(100vh - @header-height);
            border-radius: 0;
        }
    }

    .main-content {
        flex: 1;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        height: calc(100vh - @header-height - 48px);
        overflow-y: auto;
        transition: all 0.3s ease-in-out;
        @media (prefers-color-scheme: dark) {
            background: @surface-dark;
        }
        @media (max-width: @mobile-breakpoint) {
            height: 100%;
            width: 100%;
            border-radius: 0px;
        }

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background: #c1c1c1;
            border-radius: 4px;
        }
    }

    .menu_button {
        display: none;
        @media (max-width: @mobile-breakpoint) {
            display: block;
        }
    }
}
