name: Deploy to NuxtHub
on: push

jobs:
    deploy:
        name: 'Deploy to NuxtHub'
        runs-on: ubuntu-latest
        environment:
            name: ${{ github.ref == 'refs/heads/main' && 'production' || 'preview' }}
            url: ${{ steps.deploy.outputs.deployment-url }}
        permissions:
            contents: read
            id-token: write

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Install pnpm
              uses: pnpm/action-setup@v4

            - name: Install Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 22
                  cache: 'pnpm'

            - name: Install dependencies
              run: pnpm install

            - name: Build application
              env:
                  NUXT_PUBLIC_COMMIT_HASH: ${{ github.sha }}
              run: pnpm build

            - name: Publish
              uses: cloudflare/pages-action@v1
              with:
                  apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
                  accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
                  projectName: mine-showcase
                  directory: dist
